.Cards {
	.content {
		display: flex;
		justify-content: space-around;
		align-items: start;
		flex-wrap: wrap;
		gap: 1rem;
		.card {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			width: 200px;
			height: 350px;
			padding-inline: 10px;
			padding-block: 10px;
			border-radius: 12px;
			gap: 1rem;
			margin-bottom: 2rem;
			img {
				width: 200px;
				height: 285px;
				border-radius: 10px;
			}
			p {
				font-size: 22px;
				font-weight: 600;
			}
		}
	}
}
